body{margin:0;padding:0;font-family:"Raleway";background:#272727;color:#E2E2E2} 



#buscadorInput {
    font-size: 16px;
    padding: 14px 20px 12px 20px;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
}
#buscadorInput:focus {
    outline: 0px solid #fff;
    -webkit-box-shadow: 0px 0px 8px 0px #000;
            box-shadow: 0px 0px 8px 0px #000;
}
.buscador-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: none;
}
.buscador-content a:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #e9e9e9;
}
.buscador-content {
    background-color: #E2E2E2;
    border-radius: 10px;
    padding: 0 7.2%;
    text-align: center;
    margin: 0 40%;
    position: absolute;
    }  @media only screen and (max-width:480px){.buscador-content{
        
        margin: 0 24.2%;
        padding: 0 8.8%;
    }}
    
    h2{margin:0.8em 0;font-family:"Raleway";font-weight:500;font-size:1.5em;color:#C6A47D}hr{margin:auto;width:15em}footer{padding:5em 0 3em 0;width:100%;text-align:center}.top-bar{width:100%;opacity:75%;background:#1E1E1E}.top-logo{margin:1.8em 0;text-align:left}.top-login{margin:1.8em 0;text-align:right}.img-header{padding:14em 0;background:url(../imgs/banner.jpg);background-position:center;background-size:cover}.logo{text-decoration:none;margin:0 1em;font-family:"Playfair Display";font-size:2em;color:#C6A47D}@media only screen and (max-width:480px){.logo{font-size:1.4em}}.logo:hover{color:#1E1E1E}.search-field{text-align:center}.search-input{padding:1em 0.8em;width:25em;background:#E2E2E2;outline:0;border-radius:5px 0 0 5px;border:none}@media only screen and (max-width:480px){.search-input{width:10em}}.search-btn{padding:1em;background:#E2E2E2;border-radius:0 5px 5px 0;color:#1E1E1E}.search-btn:hover{background:#1E1E1E;color:#E2E2E2}.select-section{margin:1.5em 0;text-align:center}.select-cb{padding:1em 0.8em;width:20em;background:#1E1E1E;border:1px solid #1E1E1E;border-radius:0.5em;font-family:"Raleway";font-weight:300;cursor:pointer;color:#E2E2E2}@media only screen and (max-width:480px){.select-cb{width:15em}}.select-cb:focus,.select-cb:hover{outline:none;border:1px solid #C6A47D}.select-option{background:#E2E2E2;border:none;color:#1E1E1E}.ticket-section{margin:2em}.category-text{font-family:"Raleway";font-size:1.4em;font-weight:300}.card-text{margin:0 2em 1.4em 2em;font-family:"Raleway";font-size:1em;font-weight:100}.card{margin:auto;max-width:300px;text-align:center;font-family:arial;background:#1E1E1E}.card-button{padding:12px;width:100%;border:none;outline:0;background-color:#C6A47D;text-align:center;font-size:18px;text-decoration:none;cursor:pointer;color:#E2E2E2}.card-button:hover{opacity:0.7;color:#E2E2E2}.footer-title{margin:0.8em 0;font-family:"Playfair Display";font-size:1.3em;color:#E2E2E2}.bottom-nav-item{margin-right:2.4em;display:inline-block}.footer-link{font-size:1.3em;color:#E2E2E2}.footer-link:hover{color:#C6A47D}.description-section{margin:8em 3em 2em 3em}.description-bg{margin-left:auto;margin-right:auto;margin-bottom:1em;padding-bottom:1.8em;background:#1E1E1E;text-align:center}.description-title{padding:0.6em 0;font-family:"Raleway";font-weight:500;text-align:center;font-size:1.3em}.description-text{margin:0 2em;font-weight:300;text-align:left}.ticket-title{margin:0.8em;font-family:"Raleway";font-size:1.8em;font-weight:500;color:#C6A47D}.select-bg{margin:auto;margin-bottom:0.8em;padding:2em;width:26em;background:#1E1E1E}@media only screen and (max-width:480px){.select-bg{width:100%}}
    .select-text{text-align:center;font-weight:300;font-size:1.3em;background: none;border: none;color: white;max-width: 3em;}
    .select-btn{margin:0 0.2em;padding:0 0.4em;border-radius:1em;background:#C6A47D;font-size:1em;border:none;line-height:normal;color:#E2E2E2}.select-btn:hover{opacity:0.7;color:#E2E2E2}.total-section{margin:auto;text-align:center}.total-title{margin:1.4em;font-size:1.3em;font-weight:500;color:#C6A47D}
    .total-text{font-size:1.5em;color:#E2E2E2;background: none;border: none;}
    .info-container{margin:8em 1.5em 1em 1.5em;background:#1E1E1E;text-align:center}@media only screen and (min-width:1200px){.info-container{margin:8em 11em 1em 11em}}.info-input{margin-left:auto;margin-right:auto;margin-bottom:5em;padding:1em;width:20em;outline:0;background:#E2E2E2;border:none}@media only screen and (max-width:480px){.info-input{padding:0.5em;width:10em}}.info-title{font-size:1.3em;font-weight:500;color:#C6A47D}@media only screen and (max-width:480px){.info-title{font-size:1em;margin-bottom:0.8em}}.info-m{margin:0}.texto-inicio{align-items:center;text-align:center;border-radius:20px;padding-top:1%}.texto-inicio h5{margin-bottom:0.5rem;color:black;margin-top:1.5rem}.texto-inicio p{text-align:center}.sesion{color:white;margin-left:10%;margin-right:10%}.sesion h5{text-align:center}.cuadro-evento{background:white;border-radius:20px}.formulario-crear{background:#f1f1f1;color:black;margin-top:3%;width:100%;border-radius:20px;border-color:black}.formulario-crear h1{text-align:center}.iconos-numeros{width:10%;text-align:center;margin-top:2%;margin-bottom:3%}.form-text{margin-top:0.25rem;font-size:0.875em;color:#6c757d;text-align:center}.barra-abajo{width:100%;padding:2%;margin-top:1%;color:black;background-color:rgba(255,255,255,0.795)}.social{padding:auto}.social-iconos{width:5%}.social-icons{text-align:right}h5{font-size:1.5em;text-align:center}h6{text-align:center}
